<app-ng-countdowner [expiryMessage]="'This is a custom expiry message'" [countDownTimerVisible]="true" (timerExpired)="handleEvent($event)" [start]="'10/5/2018 20:21:40'" [end]="'1/7/2019 00:00:00'"></app-ng-countdowner>

<div id="link_up">
    <a href="http://github.com/tonym3nsa" target="_blank"><i class="fab fa-github-alt"></i></a>
    <a href="https://twitter.com/tony_mensah" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/tonymensah/" target="_blank"><i class="fab fa-linkedin-in"></i></a>

</div>