<app-ng-countdowner
  [expiryMessage]="'This is a custom expiry message'"
  [countDownTimerVisible]="true"
  (timerExpired)="handleEvent($event)"
  [start]="'10/5/2018 20:21:40'"
  [end]="'10/7/2019 18:22:15'"

></app-ng-countdowner>



<div class="network">
  <a href="http://tonymensah.com" target="_blank" title="Website"><i class="fas fa-globe"></i></a>
  <a href="http://github.com/tonym3nsa" target="_blank" title="Github"><i class="fab fa-github"></i></a>

  <a href="https://www.linkedin.com/in/tonymensah/" target="_blank" title="Linkedin"><i class="fab fa-linkedin"></i></a>
  <a href="https://twitter.com/tony_mensah" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
  <a href="mailto:tony.m3nsa@gmail.com" target="_blank" title="Email"><i class="fas fa-at"></i></a>
</div>
